/*ICONS*/

.icon {
    display: inline-block;
    vertical-align: middle;
    
}

.icon-web-design{
    height: 30px;
    width: 32px;
    color: black;
    background-image: url('/images/icon/web-design.png');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    color: #FFFF;
    display:table-cell;
    z-index: 1;
}
.icon-software{
    height: 30px;
    width: 32px;
    color: black;
    background-image: url('/images/icon/software.png');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    color: #FFFF;
    display:table-cell;
    z-index: 1;
}

.icon-code{
    height: 30px;
    width: 32px;
    color: black;
    background-image: url('/images/icon/code.png');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    color: #FFFF;
    display:table-cell;
    z-index: 1;
}
.icon-placeholder {
    height: 32px;
    width: 22px;
    color: black;
    background-image: url('/images/icon/placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-vinyl {
    height: 30px;
    width: 30px;
    background-image: url('/images/icon/vinyl.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-top {
    height: 55px;
    width: 100px;
    background-image: url('/images/icon/go-to-top.png');
    background-repeat: no-repeat;

    margin-top: -42.5px;
    position: absolute;
    /* postulat de départ */
    left: 48%;
}
.icon-instagram {
    height: 25px;
    width: 25px;
    background-image: url('/images/icon/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-imdb {
    height: 25px;
    width: 25px;
    background-image: url('/images/icon/imdb.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-fb {
    height: 25px;
    width: 25px;
    background-image: url('/images/icon/facebook.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-twitter {
    height: 25px;
    width: 25px;
    background-image: url('/images/icon/twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-like {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/like.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-like-red {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/like-red.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-like-white {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/like-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-share {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/share.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-pullup {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/pullup.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-keyboard {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/keyboard.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-siren {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/siren.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-edit {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/edit.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-compass {
    height: 24px;
    width: 24px;
    background-image: url('/images/icon/compass.png');
    background-repeat: no-repeat;
    background-position: center;
}


.icon-github {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/github.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-github-black {
    height: 24px;
    width: 24px;
    background-image: url('/images/icon/github-black.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-menu-dots {
    height: 24px;
    width: 24px;
    background-image: url('/images/icon/menu.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-download {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/download.png');
    background-repeat: no-repeat;
    background-position: center;

}
.icon-volume {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 16px;
    background-image: url('/images/icon/speaker.png');
    background-repeat: no-repeat;
    background-position: center;
}

.icon-volume-black{
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/speaker-black.png');
    background-repeat: no-repeat;
    background-position: center;

}

.icon-double-arrow{
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/double-arrow.png');
    background-repeat: no-repeat;
    background-position: center;

}


.icon-play {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/play_black.png');
    background-repeat: no-repeat;
    background-position: center;
}
.icon-back {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/left-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}
.icon-play-soundbox {
    float: right;
}

.icon-pause {
    height: 20px;
    width: 20px;
    background-image: url('/images/icon/pause.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;

}

.icon-pause-dj {
    height: 24px;
    width: 24px;
    background-image: url('/images/icon/music-player-pause-lines.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;

}
.icon-play-dj {
    height: 24px;
    width: 24px;
    background-image: url('/images/icon/music-player-play.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;

}

.icon-fast-foward {
    height: 24px;
    width: 24px;
    background-image: url('/images/icon/fast-forward.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;

}


@media only screen and (min-width: 481px) {
   
}